/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2008 R2 (10.50.6000)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/



/****** Object:  StoredProcedure [dbo].[spGetMovieByID]    Script Date: 15-02-2018 00:15:15 ******/
DROP PROCEDURE [dbo].[spGetMovieByID]
GO
/****** Object:  StoredProcedure [dbo].[spGetAllYears]    Script Date: 15-02-2018 00:15:15 ******/
DROP PROCEDURE [dbo].[spGetAllYears]
GO
/****** Object:  StoredProcedure [dbo].[spGetAllProducers]    Script Date: 15-02-2018 00:15:15 ******/
DROP PROCEDURE [dbo].[spGetAllProducers]
GO
/****** Object:  StoredProcedure [dbo].[spGetAllMovies]    Script Date: 15-02-2018 00:15:15 ******/
DROP PROCEDURE [dbo].[spGetAllMovies]
GO
/****** Object:  StoredProcedure [dbo].[spGetAllActors]    Script Date: 15-02-2018 00:15:15 ******/
DROP PROCEDURE [dbo].[spGetAllActors]
GO
/****** Object:  StoredProcedure [dbo].[spEditMovie]    Script Date: 15-02-2018 00:15:15 ******/
DROP PROCEDURE [dbo].[spEditMovie]
GO
/****** Object:  StoredProcedure [dbo].[spAddProducer]    Script Date: 15-02-2018 00:15:15 ******/
DROP PROCEDURE [dbo].[spAddProducer]
GO
/****** Object:  StoredProcedure [dbo].[spAddMovie]    Script Date: 15-02-2018 00:15:15 ******/
DROP PROCEDURE [dbo].[spAddMovie]
GO
/****** Object:  StoredProcedure [dbo].[spAddActor]    Script Date: 15-02-2018 00:15:15 ******/
DROP PROCEDURE [dbo].[spAddActor]
GO
/****** Object:  Table [dbo].[Years]    Script Date: 15-02-2018 00:15:15 ******/

GO
/****** Object:  UserDefinedTableType [dbo].[ActorType]    Script Date: 15-02-2018 00:15:15 ******/
DROP TYPE [dbo].[ActorType]
GO
/****** Object:  UserDefinedTableType [dbo].[ActorType]    Script Date: 15-02-2018 00:15:15 ******/
CREATE TYPE [dbo].[ActorType] AS TABLE(
	[ActorID] [int] NULL,
	[Name] [nvarchar](300) NULL,
	[DOB] [datetime2](7) NULL,
	[Sex] [nvarchar](30) NULL,
	[Bio] [nvarchar](max) NULL
)
GO
/****** Object:  Table [dbo].[ActorMovies]    Script Date: 15-02-2018 00:15:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActorMovies](
	[ActorMovieID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NULL,
	[ActorID] [int] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ActorMovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actors]    Script Date: 15-02-2018 00:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actors](
	[ActorID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Sex] [nvarchar](20) NULL,
	[Bio] [nvarchar](max) NULL,
	[DOB] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ActorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 15-02-2018 00:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[YearOfRelease] [nvarchar](100) NULL,
	[Plot] [nvarchar](max) NULL,
	[Poster] [nvarchar](500) NULL,
	[ProducerID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producers]    Script Date: 15-02-2018 00:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producers](
	[ProducerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Sex] [nvarchar](20) NULL,
	[Bio] [nvarchar](max) NULL,
	[DOB] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProducerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Years]    Script Date: 15-02-2018 00:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Years](
	[YearID] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[YearID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actors] ON 
GO
INSERT [dbo].[Actors] ([ActorID], [Name], [Sex], [Bio], [DOB]) VALUES (1, N'Tom Cruise', N'Male', N'In 1976, if you had told fourteen year-old Franciscan seminary student Thomas Cruise Mapother IV that one day in the not too distant future he would be Tom Cruise, one of the top 100 movie stars of all time, he would have probably grinned and told you that his ambition was to join the priesthood.', NULL)
GO
INSERT [dbo].[Actors] ([ActorID], [Name], [Sex], [Bio], [DOB]) VALUES (2, N'Michelle Monaghan', N'Female', N'Michelle Lynn Monaghan was born on March 23, 1976, in Winthrop, Iowa. She is the youngest of three children and the only daughter of Sharon (Hamel), who ran a day care center, and Robert L. Monaghan, a factory worker and farmer. She is of mostly Irish and German descent.', NULL)
GO
INSERT [dbo].[Actors] ([ActorID], [Name], [Sex], [Bio], [DOB]) VALUES (3, N'Mike Vogel', N'Male', N'Mike Vogel was born on July 17, 1979 in Abington, Pennsylvania, USA as Michael James Vogel. He is an actor and producer, known for The Help (2011), Cloverfield (2008) and She''s Out of My League (2010). He has been married to Courtney Renee Raborg since January 4, 2003. They have three children.', NULL)
GO
SET IDENTITY_INSERT [dbo].[Actors] OFF
GO
SET IDENTITY_INSERT [dbo].[Producers] ON 
GO
INSERT [dbo].[Producers] ([ProducerID], [Name], [Sex], [Bio], [DOB]) VALUES (1, N'J. J. Abrams', N'Male', N'Jeffrey Jacob Abrams (born June 27, 1966) is an American film director, producer, screenwriter, actor, and composer. He is known for work in the genres of action, drama, and science fiction. Abrams wrote or produced such films as Regarding Henry (1991), Forever Young (1992), Armageddon (1998), Cloverfield (2008), Star Trek (2009), Star Wars: The Force Awakens (2015), and the upcoming Star Wars: Episode IX (2019).', NULL)
GO
INSERT [dbo].[Producers] ([ProducerID], [Name], [Sex], [Bio], [DOB]) VALUES (2, N'Judd Apatow', N'Male', N'Judd Apatow (born December 6, 1967) is an American producer, writer, director, stand-up comedian and actor. He is the founder of Apatow Productions, through which he produced and developed the television series Freaks and Geeks, Undeclared, Girls, Love, and Crashing and directed the films The 40-Year-Old Virgin (2005), Knocked Up (2007), Funny People (2009), This Is 40 (2012), and Trainwreck (2015).', NULL)
GO
INSERT [dbo].[Producers] ([ProducerID], [Name], [Sex], [Bio], [DOB]) VALUES (3, N'Avi Arad', N'Male', N'Avi Arad (born August 1, 1948) is an Israeli-American businessman. He became the CEO of the company Toy Biz in the 1990s, and soon afterward became the chief creative officer of Marvel Entertainment, a Marvel director, and the chairman, CEO, and founder of Marvel Studios.[1]', NULL)
GO
SET IDENTITY_INSERT [dbo].[Producers] OFF
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 
GO
INSERT [dbo].[Movies] ([MovieID], [Name], [YearOfRelease], [Plot], [Poster], [ProducerID]) VALUES (3, N'Cloverfield', N'1992', N'Cloverfield is a 2008 American found footage science fiction horror film directed by Matt Reeves, produced by J. J. Abrams and Bryan Burk, and written by Drew Goddard. The film, which is presented as found footage shot with a home camcorder, follows six young New York City residents fleeing from a gigantic monster and various other smaller creatures that attack the city while they are having a farewell party. ', N'/Assets/220px-Cloverfield_theatrical_poster.jpg', 1)
GO
INSERT [dbo].[Movies] ([MovieID], [Name], [YearOfRelease], [Plot], [Poster], [ProducerID]) VALUES (4, N'The Cable Guy', N'1992', N'The Cable Guy is a 1996 American comedy thriller film directed by Ben Stiller, starring Jim Carrey and Matthew Broderick. It was released in the United States on June 14, 1996. The film co stars Leslie Mann, Jack Black, George Segal, Diane Baker, Eric Roberts, Owen Wilson, Janeane Garofalo, David Cross, Andy Dick, Amy Stiller, and Bob Odenkirk', N'/Assets/TheCableGuy.jpg', 2)
GO
SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
SET IDENTITY_INSERT [dbo].[ActorMovies] ON 
GO
INSERT [dbo].[ActorMovies] ([ActorMovieID], [MovieID], [ActorID], [Status]) VALUES (1, 2, 1, 0)
GO
INSERT [dbo].[ActorMovies] ([ActorMovieID], [MovieID], [ActorID], [Status]) VALUES (2, 2, 2, 0)
GO
INSERT [dbo].[ActorMovies] ([ActorMovieID], [MovieID], [ActorID], [Status]) VALUES (3, 3, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[ActorMovies] OFF
GO

GO
SET IDENTITY_INSERT [dbo].[Years] ON 
GO
INSERT [dbo].[Years] ([YearID], [Value]) VALUES (1, N'1920')
GO
INSERT [dbo].[Years] ([YearID], [Value]) VALUES (2, N'1921')
GO
INSERT [dbo].[Years] ([YearID], [Value]) VALUES (3, N'1922')
GO
SET IDENTITY_INSERT [dbo].[Years] OFF
GO
ALTER TABLE [dbo].[ActorMovies]  WITH CHECK ADD FOREIGN KEY([ActorID])
REFERENCES [dbo].[Actors] ([ActorID])
GO
ALTER TABLE [dbo].[ActorMovies]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD FOREIGN KEY([ProducerID])
REFERENCES [dbo].[Producers] ([ProducerID])
GO
/****** Object:  StoredProcedure [dbo].[spAddActor]    Script Date: 15-02-2018 00:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name> select * from Actors
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spAddActor] 
	-- Add the parameters for the stored procedure here
	@ActorID INT OUT,
	@Name nvarchar(600),
	@Sex nvarchar(100),
	@DOB datetime2(7),
	@Bio nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here select * from Actors alter table Actors Add DOB datetime2
	BEGIN TRY

		
		INSERT INTO Actors (Name,Sex,DOB,Bio)
		         values(@Name,@Sex,@DOB,@Bio)

		SET @ActorID = SCOPE_IDENTITY();
	END TRY

	BEGIN CATCH

	END CATCH
	
END
GO
/****** Object:  StoredProcedure [dbo].[spAddMovie]    Script Date: 15-02-2018 00:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= select * from Movies alter table Movies Alter column Name nvarchar(max)
-- Author:		<Author,,Name> select * from ActorMovies 
-- Create date: <Create Date,,> delete from ActorMovies where ActorMovieID>4 
-- Description:	<Description,,> delete from Movies where MovieID>22
-- =============================================
CREATE PROCEDURE [dbo].[spAddMovie]
	-- Add the parameters for the stored procedure here
	@MovieID  INT OUT,
	@Name nvarchar(max),
	@YearOfRelease nvarchar(max),
	@Plot nvarchar(max),
	@Poster nvarchar(max),
	@ProducerID INT
	,@Actors dbo.ActorType READONLY
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--BEGIN TRANSACTION;
    -- Insert statements for procedure here
	--declare @DBMovieID INT
	declare @ActorID INT;

	BEGIN TRY

	INSERT [dbo].[Movies] ([Name], [YearOfRelease], [Plot], [Poster], [ProducerID]) 
	VALUES (@Name, @YearOfRelease, @Plot, @Poster, @ProducerID) 

	SET @MovieID = SCOPE_IDENTITY();

	

	DECLARE ActorCursor CURSOR
	FOR 
    Select ActorID from @Actors

	OPEN ActorCursor
	FETCH NEXT FROM ActorCursor INTO @ActorID

	WHILE @@FETCH_STATUS = 0
	BEGIN
		INSERT INTO ActorMovies (MovieID,ActorID,status) Values (@MovieID,@ActorID,1)
		FETCH NEXT FROM ActorCursor INTO @ActorID
	END
	
	CLOSE ActorCursor;  
	DEALLOCATE ActorCursor;
	--COMMIT TRANSACTION 
	END TRY
	BEGIN CATCH
	    INSERT [dbo].[Movies] ([Name], [YearOfRelease], [Plot], [Poster], [ProducerID]) 
		VALUES (ERROR_MESSAGE(), null, ERROR_LINE(), null, 1) 
		--IF @@TRANCOUNT > 0 select *  from movies alter table movies alter column name nvarchar(max)
  --      BEGIN
  --          ROLLBACK TRANSACTION;
  --      END
	END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[spAddProducer]    Script Date: 15-02-2018 00:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spAddProducer] 
	-- Add the parameters for the stored procedure here
	@ProducerID INT OUT,
	@Name nvarchar(600),
	@Sex nvarchar(100),
	@DOB datetime2(7),
	@Bio nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here select * from Producers alter table Actors Add DOB datetime2
	BEGIN TRY

		
		INSERT INTO Producers(Name,Sex,DOB,Bio)
		         values(@Name,@Sex,@DOB,@Bio)

		SET @ProducerID = SCOPE_IDENTITY();
	END TRY

	BEGIN CATCH

	END CATCH
	
END
GO
/****** Object:  StoredProcedure [dbo].[spEditMovie]    Script Date: 15-02-2018 00:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================= select * from Movies alter table Movies Alter column Name nvarchar(max)
-- Author:		<Author,,Name> select * from ActorMovies where MovieID=4
-- Create date: <Create Date,,> delete from ActorMovies where ActorMovieID>4 
-- Description:	<Description,,> delete from Movies where MovieID>22
-- =============================================
CREATE PROCEDURE [dbo].[spEditMovie]
	-- Add the parameters for the stored procedure here
	@MovieID  INT OUT,
	@Name nvarchar(max),
	@YearOfRelease nvarchar(max),
	@Plot nvarchar(max),
	@Poster nvarchar(max),
	@ProducerID INT
	,@Actors dbo.ActorType READONLY
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--BEGIN TRANSACTION;
    -- Insert statements for procedure here
	--declare @DBMovieID INT
	declare @ActorID INT;
	declare @AName nvarchar(700);
	declare @Sex nvarchar(20);
	declare @DOB DAtetime2;
	declare @Bio nvarchar(max);

	BEGIN TRY

	update ActorMovies set status=0 where MovieID=@MovieID
	Update [Movies] set [Name]=@Name,[YearOfRelease]=@YearOfRelease,Plot=@Plot,Poster=@Poster,ProducerID=@ProducerID
	where MovieID=@MovieID

	
	

	DECLARE ActorCursor CURSOR
	FOR 
    Select ActorID from @Actors

	OPEN ActorCursor
	FETCH NEXT FROM ActorCursor INTO @ActorID

	WHILE @@FETCH_STATUS = 0
	BEGIN
	--select * from ActorMovies where movieid=2
		--Update Actors Set Name=@AName,Sex=@Sex,Bio=@Bio,DOB=@DOB where ActorID=@ActorID
		
		INSERT INTO ActorMovies (MovieID,ActorID,status) Values (@MovieID,@ActorID,1)
		FETCH NEXT FROM ActorCursor INTO @ActorID
	END
	
	CLOSE ActorCursor;  
	DEALLOCATE ActorCursor;
	--COMMIT TRANSACTION 
	END TRY
	BEGIN CATCH
	 --   INSERT [dbo].[Movies] ([Name], [YearOfRelease], [Plot], [Poster], [ProducerID]) 
		--VALUES (ERROR_MESSAGE(), null, ERROR_LINE(), null, 1) 
		--IF @@TRANCOUNT > 0
  --      BEGIN
  --          ROLLBACK TRANSACTION;
  --      END
	END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[spGetAllActors]    Script Date: 15-02-2018 00:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Rahul Roshan>
-- Create date: <10-02-2018>
-- Description:	<Get All Movies>
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllActors] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements. select * from Movies
	SET NOCOUNT ON;

    -- Insert statements for procedure here select * from ActorMovies
	--SELECT M.MovieID,M.Name,YearOfRelease,Plot,Poster,M.ProducerID,P.ProducerID,P.Name,P.Sex,P.Bio,A.ActorID,A.Name,A.Sex,A.Bio
	--from Movies M left join Producers P on M.ProducerID=P.ProducerID
	--left join ActorMovies AM on AM.MovieID=AM.MovieID
	--left join Actors A on A.ActorID=AM.ActorID

	select ActorID,UPPER(Name) Name,Sex,Bio,DOB From Actors
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAllMovies]    Script Date: 15-02-2018 00:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Rahul Roshan>
-- Create date: <10-02-2018>
-- Description:	<Get All Movies>
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllMovies] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here select * from ActorMovies
	--SELECT M.MovieID,M.Name,YearOfRelease,Plot,Poster,M.ProducerID,P.ProducerID,P.Name,P.Sex,P.Bio,A.ActorID,A.Name,A.Sex,A.Bio
	--from Movies M left join Producers P on M.ProducerID=P.ProducerID
	--left join ActorMovies AM on AM.MovieID=AM.MovieID
	--left join Actors A on A.ActorID=AM.ActorID

	select M.MovieID,M.Name,YearOfRelease,Plot,Poster,M.ProducerID,P.ProducerID,P.Name,P.Sex,P.Bio,A.ActorID,A.Name,A.Sex,A.Bio
	from Movies M left join ActorMovies AM on M.MovieID=AM.MovieID and AM.status=1
	left join Actors A on A.ActorID=AM.ActorID
	left join Producers P on P.ProducerID = M.ProducerID
	 
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAllProducers]    Script Date: 15-02-2018 00:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Rahul Roshan>
-- Create date: <10-02-2018>
-- Description:	<Get All Movies>
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllProducers] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements. select * from Movies
	SET NOCOUNT ON;

    -- Insert statements for procedure here select * from ActorMovies
	--SELECT M.MovieID,M.Name,YearOfRelease,Plot,Poster,M.ProducerID,P.ProducerID,P.Name,P.Sex,P.Bio,A.ActorID,A.Name,A.Sex,A.Bio
	--from Movies M left join Producers P on M.ProducerID=P.ProducerID
	--left join ActorMovies AM on AM.MovieID=AM.MovieID
	--left join Actors A on A.ActorID=AM.ActorID

	select ProducerID,UPPER(Name) Name,Sex,DOB,Bio From Producers
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAllYears]    Script Date: 15-02-2018 00:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Rahul Roshan>
-- Create date: <10-02-2018>
-- Description:	<Get All Movies>
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllYears] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here select * from ActorMovies
	--SELECT M.MovieID,M.Name,YearOfRelease,Plot,Poster,M.ProducerID,P.ProducerID,P.Name,P.Sex,P.Bio,A.ActorID,A.Name,A.Sex,A.Bio
	--from Movies M left join Producers P on M.ProducerID=P.ProducerID
	--left join ActorMovies AM on AM.MovieID=AM.MovieID
	--left join Actors A on A.ActorID=AM.ActorID

	select * From Years
END
GO
/****** Object:  StoredProcedure [dbo].[spGetMovieByID]    Script Date: 15-02-2018 00:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Rahul Roshan>
-- Create date: <10-02-2018>
-- Description:	<Get All Movies> [dbo].[spGetMovieByID] 4
-- =============================================
CREATE PROCEDURE [dbo].[spGetMovieByID] 
	-- Add the parameters for the stored procedure here
	@ID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here select * from ActorMovies
	--SELECT M.MovieID,M.Name,YearOfRelease,Plot,Poster,M.ProducerID,P.ProducerID,P.Name,P.Sex,P.Bio,A.ActorID,A.Name,A.Sex,A.Bio
	--from Movies M left join Producers P on M.ProducerID=P.ProducerID
	--left join ActorMovies AM on AM.MovieID=AM.MovieID
	--left join Actors A on A.ActorID=AM.ActorID

	select M.MovieID,M.Name,YearOfRelease,Plot,Poster,M.ProducerID,P.ProducerID,P.Name,P.Sex,P.Bio,A.ActorID,A.Name,A.Sex,A.Bio
	from Movies M left join ActorMovies AM on M.MovieID=AM.MovieID and AM.status=1
	left join Actors A on A.ActorID=AM.ActorID
	left join Producers P on P.ProducerID = M.ProducerID where M.MovieID=@ID
	
END
GO
